{% extends 'base.html' %} 

{% block content %}
  <h2>Article Create</h2>
  
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Create</button>
        <a href="{% url 'articles:home' %}">Back</a>
    </form>
    <!-- <div style="margin-top: 30px;">
        <form method="POST"> {% csrf_token %}    
            <div style="margin-bottom: 10px;">
                <label>Title</label>
                <input type="text" name="title" placeholder="e.g How to create a website">
            </div>

            <div style="margin-bottom: 10px;">
                <label>Content</label>
                <input type="text" name="content" placeholder="e.g This is how you create a website">
            </div>

            <input type="submit" value="Submit">
        </form>
    </div> -->


{% endblock %}