{% extends 'base.html' %}
{% block content %}
{% if not request.user.is_authenticated %}  
    <h2>Home [you are not logged in]</h2>
{% else %}
    <h2>Home</h2>
        <div style="margin-top: 30px;">
            <p>Welcome to the home page</p>
        </div>

        <div style="margin-top: 30px;">
            <h3>Articles</h3>
            <ul>
                {% for article in articles %}
                    <li>
                        <a href="{% url 'articles:detail' article.slug %}">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %} 
{% endblock %}